@import url("https://fonts.googleapis.com/css?family=Nunito");

body{
    font-family: Nunito, sans-serif;
    height: 100%;
    /* background-color: lightblue; */
    background-color: lightsalmon;
}

.chad {
    margin: auto;
    padding: 25px;
    margin: 20px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}

.chad a {
    color: white;
    text-decoration: none;
}


.nametag {
    text-align: center;
    font-size: 100pt;
    font-weight: bold;
    /* font-style: italic; */
}

.linkcontainer {
    display: flex;
    justify-content: space-around;
}

.linkicon{
    height: 80px;
}

.linkbox {
    background-color: black;
    border-radius: 8px;
    font-size: 24pt;
    padding: 13px;
    margin: 10px;
    width: 160px;
    text-align: center;
}

.linkbox:hover {
    border: 2px solid grey;
    margin: 8px;
}
